.extras {
  &__contain {
    @extend .container;

    .extras_header {
      text-align: center;
    }

    .extras__content {
      @extend .row;

      &--col {
        @extend .col-md-4;
        text-align: center;

      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    &__contain {
      .extras__content {
        &--col {
          text-align: left;

        }
      }
    }

  }
}