.hero {
  margin-top: 80px;
  position: relative;
  color: $aat-primary;
  width: 100%;
  text-align: center;
  background: yellowgreen;

  .hero-banner {
    overflow: hidden;
    width: 100%;
    height: 360px;

    .hero_message {
      position: relative;
      top: 0;
      -webkit-transform: translateY(-135%);
      -ms-transform: translateY(-135%);
      transform: translateY(-135%);

      &__content {
        max-width: 600px;
        background-color: #fff; /* fallback */
        background-color: rgba(255, 255, 255, 0.9);
        margin: auto;
        padding: 20px;

        h1 {
          padding-bottom: 15px;
        }

      }
    }
  }
}